

.card-content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    gap: 12px;
    padding: 8px 0;
    /*padding: 4px 24px 8px 24px;*/
    /*border-left: 6px solid var(--Green-highlight);*/
    width: 100%;
}

.card-content-wrapper span {
    display: flex;
    align-items: center;
    padding-right: 8px;
}