
label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 2px solid var(--Text-dark);
    background-color:transparent;
}

input:focus {
    border-color: #A5B62B;
    outline: none;
}

.light {
    color: var(--Text-dark);
}

.dark {
    color: var(--Text-light);
}

.error {
    border-color: var(--Brown-light);
}

.input-error-text {
    color: var(--Brown-light);
}

input::placeholder {
    color: var(--Grey-light);
}
