
.drawer {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--Grey);
    box-shadow: -8px 0 0 0 var(--Text-dark);
    color: var(--Text-light);
    width: 500px;
    height: 100vh;
    padding: 24px;
    z-index: 999;
}

.drawer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    flex-grow: 1;
}

.drawer-content .subheading {
    padding-bottom: 16px;
}

.drawer-footer {
    display: flex;
    flex-direction: column;
    color: var(--Text-light);
    gap: 16px;
}

.drawer-footer a {
    color: var(--Text-light);
}

.drawer-buttons {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 768px) {
    .drawer {
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 600px;
        padding: 24px;
        flex-grow: 1;
        box-shadow: 0 -8px 0 0 var(--Text-dark);
        z-index: 999;
    }
}