
.drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--Grey);
    box-shadow: -8px 0 0 0 var(--Text-dark);
    color: var(--Text-light);
    width: 500px;
    height: 100vh;
    padding: 24px;
}

.drawer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 12px;
    width: 100%;
    flex-grow: 1;
}

.drawer-content .subheading {
    padding-bottom: 16px;
}

.drawer-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--Text-light);
    gap: 16px;
    width: 100%;
}

.drawer-footer a {
    color: var(--Text-light);
}

@media screen and (max-width: 768px) {
    .drawer {
        width: 100vw;
        height: 50%;
        padding: 24px;
        box-shadow: 0 -8px 0 0 var(--Text-dark);
    }
}