
.bottom-sheet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background: var(--Grey);
    box-shadow: -8px 0 0 0 var(--Text-dark);
    color: var(--Text-light);
    gap: 16px;
    width: 500px;
    height: 100vh;
    padding: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}