@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*TYPOGRAPHY*/

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--Text-dark);
}

/*COLORS*/

:root {
  --Text-dark: #464646;
  --Text-light: #F5F5F5;
  --Red: #F05D37;
  --Red-light: #F4BCA1;
  --Green: #7B8820;
  --Green-light: #A5B62B;
  --Green-dark: #35460E;
  --Green-highlight: #ABED62;
}