
.page-bar {
    display: flex;
    flex-grow: 0;
    padding: 24px 24px 12px 24px;
    align-items: center;
    justify-content: space-between;
    background: var(--Grey);
    color: var(--Text-light);
    border-bottom: 8px solid #464642;
    width: 100%;
    z-index: 8;
}

